{% extends "base.html" %}
{% load static %}

{% block content %}


    <!------ MAIN HEADER ------>
    <h1 class ="mt-5 mb-5 text-center" >Generate Your Synthetic Data!</h1>


    <!------ ENTRY FORM ------>
    <form class="container needs-validation" id="myForm" name="myForm" action="" method="POST">
      {% csrf_token %}
        <!-- Column Names -->
        <div class="d-flex row-hl">
            <div class="col-0 text-dark" >_____</div>   <!--  style="border:1px solid #333" -->
            <div class="col-2">Column Name</div>
            <div class="col-2">Data Type</div>
            <div class="col-4">Format</div>
            <div class="col-1.5">Blank Value (%)</div>
            <div class="col-1.5 px-5">Bad Data</div>
        </div>

        <div class ="d-flex row-hl" id = "add">
            <button type="button" class="btn btn-secondary">+</button>
        </div>

        <!-- Submit Button -->
        <div class="row justify-content-center">
          <input type="number" class="form-control col-2" placeholder="No. of Records" name="num_of_entries" id="num_of_entries" required>
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>

    <!--BOTTOM HALF-->
    <div class="container mt-5 mb-5">

      <div class="progress mt-5 mb-5">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="progress_bar"></div>
        </div>

    </div>


    <script src="static/website/js/attr_list.js"></script>
    <script src="static/website/js/widgets.js"></script>
    <!-- <script src="static/website/js/progress.bar.js"></script> -->
    <script src="static/website/js/submit.js"></script>

{% endblock %}
